# Python cache
__pycache__/
*.pyc

# Environment
.venv/
env/
*.env
video-commentary-ai-venv

# OS
.DS_Store

# Data outputs
frames_dup/
temp/
frames/
videos/
results/
captions/
mfccs/

# Model caches
.cache/
huggingface/
*.pt
caption_lora


lightning_logs
outputs
checkpoints
tensorboard_logs
video_inference
video_inference_transformer_cls
optuna_checkpoints
.venv